/*Universal tags*/
:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: #ffffff;
    background-color: #12181b; 
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}


main {
    margin-left: 5rem;
    padding: 1rem;
}

/*Navagtion bar*/
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.9) brightness(1.5);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #0088a9;;
}

.fa-secondary {
    color: rgba(0,136,169,1);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.Animation {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.Animation svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.Animation-text{
    transition: var(--transition-speed);
}

.navbar:hover .Animation svg {
    transform: rotate(-540deg);
}


            /*MEDIA QUERY'S*/

/*Small screens*/
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    
    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/*Large screens*/ 
@media only screen and (min-width: 600px) {
   .navbar {
    width: 5rem;
    height: 100vh;
}

   .navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
    transition: opacity var(--transition-speed);
}

}
